.jumbotron {
  background-image: url("https://img.grouponcdn.com/deal/2HwR6FiNzyux2cfzobXgEgwamzjY/2H-2000x1200/v1/c700x420.jpg");
  color: white;
  background-position: 20% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  /*width: 1200px;*/
  font-family: monospace;
  font-size: 35px;
}

.jumbotron h1 {
  text-align: center;
  font-size: 120px;
  font-style: normal;
  font-weight: bold;
}

.instructionsTitle {
  text align: center;
  font-weight: bold;
  font-size: 25pt;
}

body {
  padding: 20px;
  margin: 10px;
  border: 10px;
  background-color:#7D5B52;
}

#itemList {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  font-family: monospace;
}

#introText {
  border: 10px solid #52343A;
  padding:15px;
  color: #C29982;
  font-weight: bold;
  font-size: 20px;
}

#room1 {
  width: 100%;
  margin-top: 15px;
  border: 10px solid #52343A;
  background-color:#7D5B52;
}

.card-img-top {
  width: 100%;
  margin-top: 15px;
}

#key1 {
  width: 53px;
  height: 20px;
  position: relative;
  z-index: 1;
  top: -235px;
  left: 360px;
}
#key1:hover {
  opacity: 0.5;
}


#itemsColumn {
  text-align: center;
  background-color: #E5D8C8;
  border: 12px solid #52343A;
  height: 635px;
  margin-top: 15px;
}

#instructionsColumn {
  margin-top: -18px;
  background-color: #E5D8C8;
  border: 10px solid #52343A;
  font-family: monospace;
  font-size: 20px;
}

li {
  text-align:center;
  list-style: none;
}

#userReview {
  font-weight: bold;
  color: #878d96;
  padding: 10px;
}

blockquote {
  color: #332031
}

blockquote footer {
  color: #332031;
  font-size: 18pt;
}

.buttonborder {
  margin: 10px;
}
