.jumbotron {
  background-image: url("https://img.grouponcdn.com/deal/2HwR6FiNzyux2cfzobXgEgwamzjY/2H-2000x1200/v1/c700x420.jpg");
  color: white;
  background-position: 20% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  font-family: sans-serif;

}

h1 {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
}

body {
  padding: 20px;
  margin: 10px;
  border: 10px;
}

#userReview {
  font-weight: bold;
  color: #878d96;
}

#introText {
  border: black;
}
